.example {
  background-color: #AEAEAE;
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
}

.example__subtitle {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: $basic-text-color;
}

.example__list-item {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example__sum {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
}
