.header {
  font-family: $main-font;
  background-color: $secondary-color;
  color: $based-color;
}

.header__navigation {
  display: grid;
  grid-template-columns: 1fr minmax(24px, auto);
  grid-template-rows: 66px 1fr;
  grid-template-areas:
   "logo       toggle"
   "navigation navigation";
  background-color: $secondary-color;

  &--js {
    .header__navigation-list {
      position: absolute;
      top: 66px;
    }
  }

  &--none-js {
    .header__navigation-list {
      display: block;
    }
    .header__toggle {
      display: none;
    }
  }
}

.header__logo {
  grid-area: logo;
  align-content: center;
  margin-left: 20px;
}

.header__toggle {
  grid-area: toggle;
  align-content: center;
  margin-right: 20px;
}

.header__navigation-list {
  grid-area: navigation;
  align-content: center;
  border-top: 1px solid #d9d9d9;
}
