.map {
  background-color: $secondary-color;

  &--catalog {
    background-color: $basic-bg-color;
  }
}


.map__address-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.address__element {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: $basic-text-color;
  font-style: normal;
}
