.navigation-list {
  background-color: inherit;
  @include reset-list;
}

.navigation-list__item {
  text-align: center;
  border-top: 1px solid #d9d9d9;
}

.navigation-list__link {
  @include font-decore($main-font, 20px, 1, 400, $based-color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 22px 0;
}
