.navigation-list {
  background-color: inherit;
}

.navigation-list__link {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  color: $based-color;
  line-height: 1;
  text-transform: uppercase;
}
