.navigation-list {
  background-color: inherit;
  text-align: center;

  @include reset-list;
}


.navigation-list__item {
  padding: 22px 20px 24px;
  border-bottom: 1px solid #d9d9d9;
}

.navigation-list__link {
  @include font-decore($main-font, 20px, 1, 400, $based-color);
  text-transform: uppercase;
  text-decoration: none;
}
