.process__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
}

.process__list-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  color: $basic-text-color;
}
